body {
    margin: 0;
    background-color: #222;
    color: #fff;
    font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: 500;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');