:root {
    --primary-text-colour: white;
    --secondary-text-colour: #333;
    --main-bg-colour: #222;

    /* piano-styling */
    --piano-height: 16vh;
    --white-key-colour: white;
    --white-key-hover-colour: lightcyan;
    --white-key-active-colour: palegreen;
    --white-key-width: calc(var(--piano-height)/3.3);
    --white-key-border-width: calc(var(--piano-height)/100);
    --black-key-colour: rgb(30, 30, 30);
    --black-key-hover-colour: slategrey;
    --black-key-active-colour: steelblue;
    --black-key-width: calc(var(--white-key-width)/2);
    --key-label-size: calc(var(--piano-height)/9);
  }

body {
    margin: 0;
    background-color: var(--main-bg-colour);
    color: var(--primary-text-colour);
    font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: 500;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');